<form action="/docs/search" method="post">
  <input type="text" name="search" id="search">
  <button>Search</button>
  <ul>
    
    {{#each results}}
      {{#with this}}
        <li><a href="{{path}}">{{text}}</a></li>
      {{/with}}
    {{/each}}
  </ul>
</form>