<form method="post" action="/docs/upload" enctype="multipart/form-data">
  <div class="input-group mt-3">
    <input class="form-control" type="file" name="doc">
    <button class="btn btn-primary">Upload</button>
  </div>
</form>